# Python / Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Flutter / Dart
mobile_app/.dart_tool/
mobile_app/.fvm/
mobile_app/.idea/
mobile_app/.packages
mobile_app/.pub-cache/
mobile_app/.pub/
mobile_app/build/
mobile_app/.flutter-plugins-dependencies
mobile_app/.metadata
mobile_app/android/
mobile_app/ios/
mobile_app/linux/
mobile_app/macos/
mobile_app/windows/
mobile_app/web/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
